<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

<entry key="insertMember">
INSERT INTO MEMBER (USER_NO, USER_ID, USER_PWD, USER_NAME, PHONE, EMAIL, ADDRESS, BIRTH)
VALUES(SEQ_UNO.NEXTVAL, ?, ?, ?, ?, ?, ?, ?)
</entry>

<entry key="insertAttachment">
INSERT INTO PROFILE_ATTACHMENT(PROFILE_FILE_NO, REF_MNO, ORIGIN_NAME, CHANGE_NAME, FILE_PATH)
VALUES(SEQ_MANO.NEXTVAL, SEQ_UNO.CURRVAL, ?, ?, ?)
</entry>

<entry key="updateAttachment">
UPDATE PROFILE_ATTACHMENT
SET ORIGIN_NAME = ?
	, CHANGE_NAME = ?
	, FILE_PATH = ?
	, UPLOAD_DATE = SYSDATE
WHERE PROFILE_FILE_NO = ?
AND STATUS = 'Y'
</entry>

<entry key="loginMember">
SELECT *
FROM MEMBER
WHERE USER_ID = ?
AND USER_PWD = ?
AND STATUS = 'Y'
</entry>

<entry key="kakaoSelectMember">
SELECT *
FROM MEMBER
WHERE USER_ID = ?
AND STATUS = 'Y'
</entry>

<entry key="selectAttachment">
SELECT PROFILE_FILE_NO, ORIGIN_NAME, CHANGE_NAME, FILE_PATH
FROM PROFILE_ATTACHMENT P
JOIN MEMBER ON(REF_MNO = USER_NO)
WHERE USER_ID = ?
AND P.STATUS='Y'
</entry>

<entry key="deleteProfile">
DELETE PROFILE_ATTACHMENT 
WHERE REF_MNO = ? 
AND STATUS='Y'
</entry>

<entry key="deleteMember">
UPDATE MEMBER 
SET STATUS = 'N' 
WHERE USER_ID = ?
</entry>

<entry key="checkId">
SELECT COUNT(*) "COUNT"
FROM MEMBER
WHERE USER_ID = ?
</entry>

<entry key="kakaoLoginMember">
INSERT INTO MEMBER (USER_NO, USER_ID, USER_PWD, USER_NAME, EMAIL, BIRTH, KAKAO)
VALUES(SEQ_UNO.NEXTVAL, ?, ?, ?, ?, ?, 'Y')
</entry>

	<entry key="selectBoardWith">
		SELECT BOARD_NO, BOARD_TITLE, BOARD_CONTENT,
		R.CREATE_DATE
		FROM BOARD B
		RIGHT JOIN BOARD_REPLY R
		ON(BOARD_NO=BOARD_REF_BNO)
		WHERE B.BOARD_WRITER = ?
		AND R.READ='N'
		ORDER
		BY BOARD_NO
	</entry>
	
	<entry key="selectCafeRequestWith">
		SELECT REQUEST_NO, CAFE_NAME, CONTENT, C.CREATE_DATE
		FROM CAFE_REQUEST C
		RIGHT JOIN CAFE_REQUEST_REPLY R
		ON(REQUEST_NO=REF_BNO)
		WHERE C.REQUEST_WRITER = ?
		AND R.READ='N'
		ORDER BY
		REQUEST_NO
	</entry>
	
	<entry key="selectQuestionWith">
		SELECT QUESTION_NO, QUESTION_TITLE, CONTENT,
		Q.CREATE_DATE
		FROM QUESTION Q
		RIGHT JOIN QUESTION_REPLY R
		ON(QUESTION_NO=REF_BNO)
		WHERE Q.QUESTION_WRITER = ?
		AND R.READ='N'
		ORDER
		BY QUESTION_NO
	</entry>
	
	<entry key="selectCafeRequestReply">
		SELECT REF_BNO, USER_ID, REPLY_CONTENT, CREATE_DATE
		FROM CAFE_REQUEST_REPLY
		JOIN MEMBER ON(REPLY_WRITER=USER_NO)
		WHERE
		USER_NO = ?
		AND READ='N'
	</entry>
	
	<entry key="selectBoardReply">
		SELECT BOARD_REF_BNO, USER_ID, BOARD_REPLY_CONTENT,
		CREATE_DATE
		FROM BOARD_REPLY
		JOIN MEMBER ON(BOARD_REPLY_WRITER=USER_NO)
		WHERE USER_NO = ?
		AND READ='N'
	</entry>
	
	<entry key="selectQuestionReply">
		SELECT REF_BNO, USER_ID, REPLY_CONTENT, CREATE_DATE
		FROM QUESTION_REPLY
		JOIN MEMBER ON(REPLY_WRITER=USER_NO)
		WHERE USER_NO =
		?
		AND READ='N'
	</entry>
	
	<entry key="ReadBoardReply">
		UPDATE BOARD_REPLY
		SET READ = 'Y'
		WHERE BOARD_REF_BNO =
		?
	</entry>
	
	<entry key="ReadRequestReply">
		UPDATE CAFE_REQUEST_REPLY
		SET READ = 'Y'
		WHERE REF_BNO =
		?
	</entry>
	
	<entry key="ReadQuestionReply">
		UPDATE QUESTION_REPLY
		SET READ = 'Y'
		WHERE REF_BNO = ?
	</entry>
	
	<entry key="CountBoardReply">
		SELECT BOARD_NO
		FROM BOARD B
		RIGHT JOIN BOARD_REPLY R
		ON(BOARD_NO=BOARD_REF_BNO)
		WHERE B.BOARD_WRITER = ?
		AND R.READ='N'
		ORDER
		BY BOARD_NO
	</entry>
	
	<entry key="CountRequestReply">
		SELECT REQUEST_NO
		FROM CAFE_REQUEST C
		RIGHT JOIN
		CAFE_REQUEST_REPLY R ON(REQUEST_NO=REF_BNO)
		WHERE C.REQUEST_WRITER = ?
		AND R.READ='N'
		ORDER BY REQUEST_NO
	</entry>
	
	<entry key="CountQuestionReply">
		SELECT QUESTION_NO
		FROM QUESTION Q
		RIGHT JOIN
		QUESTION_REPLY R ON(QUESTION_NO=REF_BNO)
		WHERE Q.QUESTION_WRITER = ?
		AND R.READ='N'
		ORDER BY QUESTION_NO
	</entry>
	
	<entry key="updateMember">
		UPDATE MEMBER
		SET USER_PWD = ?,
		USER_NAME = ?,
		PHONE = ?,
		EMAIL = ?,
		ADDRESS = ?
		WHERE USER_NO = ?
	</entry>

<entry key="findUserId">
SELECT USER_NAME, USER_ID
FROM MEMBER
WHERE EMAIL = ?
AND STATUS = 'Y'
</entry>

<entry key="updatePwd">
UPDATE MEMBER SET USER_PWD=? WHERE USER_ID=? AND STATUS = 'Y'
</entry>

<entry key="checkEmail">
SELECT COUNT(*) "COUNT"
FROM MEMBER
WHERE EMAIL = ?
</entry>

</properties>

