<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<entry key="selectList">
	SELECT NOTICE_NO
		  ,NOTICE_TITLE
		  ,USER_ID
		  ,COUNT
		  ,CREATE_DATE
	FROM NOTICE N
	JOIN MEMBER M ON (USER_NO=NOTICE_WRITER)
	AND N.STATUS='Y'
	ORDER BY CREATE_DATE DESC
</entry>
</properties>