<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<entry key="selectCafeList"> <!-- 카페 '리스트' 조회문 -->
	SELECT CAFE_NO, CAFE_NAME, ADDRESS
	FROM CAFE_INFO
	JOIN LOCATION USING(LOCATION_CODE)
	WHERE LOCATION_NAME = ?
	AND STATUS = 'Y'
</entry>

<entry key="selectCafeScore"> <!-- 평균 평점 조회문 -->
	SELECT (SUM(TASTE)/COUNT(*) + SUM(PRICE)/COUNT(*) + SUM(VIBE)/COUNT(*) + SUM(ACCESSIBILITY)/COUNT(*))/4 SCORE
	FROM SCORE
	WHERE CAFE_NO = ?
	GROUP BY CAFE_NO
</entry>

<entry key="countReply">  <!-- 총 리뷰 개수 조회문 -->
	SELECT COUNT(*)
	FROM CAFE_REPLY
	WHERE CAFE_NO = ?
	GROUP BY CAFE_NO
</entry>

<entry key="selectAttachmentList">
	SELECT CAFE_FILE_NO, CAFE_REF_NO, FILE_PATH||CHANGE_NAME "TITLEIMG"
	FROM CAFE_ATTACHMENT
	WHERE CAFE_REF_NO = ?
	AND STATUS = 'Y'
</entry>

<entry key="selectCafeInfo"> <!-- 카페 정보 조회문 -->
	SELECT CAFE_NO, CAFE_NAME, OPERATION_TIME, OFF_DAY, PHONE, ADDRESS, COUNT
	FROM CAFE_INFO
	WHERE ADDRESS = ?
	AND STATUS = 'Y'
</entry>

<entry key="countScore">
	SELECT COUNT(*)
	FROM SCORE
	WHERE CAFE_NO = ?
</entry>

<entry key="selectMenu">
	SELECT MENU_NAME, CAFE_PRICE
	FROM CAFE_MENU
	WHERE CAFE_NO = ?
</entry>

<entry key="selectDetailAtList">
	SELECT CAFE_FILE_NO, CAFE_REF_NO, CHANGE_NAME, FILE_PATH||CHANGE_NAME "DETAILIMG"
	FROM CAFE_ATTACHMENT
	WHERE CAFE_REF_NO = ?
	AND TYPE = ?
	AND STATUS = 'Y'
</entry>

<entry key="selectTitleChangeName">
	SELECT CHANGE_NAME
	FROM CAFE_ATTACHMENT
	WHERE CAFE_REF_NO = ?
	AND TYPE = 1
	AND STATUS = 'Y'
</entry>

<entry key="selectReplyList">
	SELECT CAFE_REPLY_NO, USER_ID, USER_NAME, CAFE_REPLY_CONTENT, CREATE_DATE
	FROM CAFE_REPLY C
	JOIN MEMBER M ON (C.CAFE_REPLY_WRITER = M.USER_NO)
	WHERE CAFE_NO = ?
	AND C.STATUS = 'Y'
</entry>

<entry key="checkScore">
	SELECT USER_NO
	FROM SCORE
	WHERE USER_NO = ?
</entry>

<entry key="insertScore">
	INSERT INTO SCORE(CAFE_NO, USER_NO, TASTE, PRICE, VIBE, ACCESSIBILITY)
	VALUES(?, ?, ?, ?, ?, ?)
</entry>

<entry key="updateScore">
	UPDATE SCORE
	SET TASTE = ?, PRICE = ?, VIBE = ?, ACCESSIBILITY = ?
	WHERE CAFE_NO = ?
	AND USER_NO = ?
</entry>

<entry key="insertReview">
	INSERT INTO CAFE_REPLY(CAFE_REPLY_NO, CAFE_NO, CAFE_REPLY_WRITER, CAFE_REPLY_CONTENT)
	VALUES(SEQ_CRNO.NEXTVAL, ?, ?, ?)
</entry>

<entry key="insertReport">
	INSERT INTO REPORT(REPORT_NO, USER_ID, CATEGORY, REPORT_CONTENT, REPORT_WRITER)
	VALUES(SEQ_RNO.NEXTVAL, ?, ?, ?, ?)
</entry>

<entry key="increaseCount">
	UPDATE CAFE_INFO
	SET COUNT = COUNT+1
	WHERE ADDRESS = ?
	AND STATUS = 'Y'
</entry>

<entry key="deleteCafe">
	UPDATE CAFE_INFO
	SET STATUS = 'N'
	WHERE ADDRESS = ?
	AND STATUS = 'Y'
</entry>

<entry key="updateReview">
	UPDATE CAFE_REPLY
	SET CAFE_REPLY_CONTENT = ?
	WHERE CAFE_REPLY_NO = ?
	AND STATUS = 'Y'
</entry>

<entry key="deleteReview">
	UPDATE CAFE_REPLY
	SET STATUS = 'N'
	WHERE CAFE_REPLY_NO = ?
	AND STATUS = 'Y'
</entry>

<entry key="updateCafeAttachment">
	UPDATE CAFE_ATTACHMENT
	SET ORIGIN_NAME = ?, CHANGE_NAME = ?
	WHERE CAFE_FILE_NO = ?
</entry>

<entry key="updateCafe">
	UPDATE CAFE_INFO
	SET CAFE_NAME = ?, OPERATION_TIME = ?, OFF_DAY = ?, PHONE = ?, ADDRESS = ?
	WHERE CAFE_NO = ?
</entry>

<entry key="updateMenu">
	DECLARE
	    FOOD_NAME VARCHAR2(30) := ?;
	    CHANGE_NAME VARCHAR2(30) := ?;
	BEGIN
	    IF CHANGE_NAME IS NULL THEN
	        DELETE
	        FROM CAFE_MENU
	        WHERE MENU_NAME = FOOD_NAME;
	    ELSE
	        IF FOOD_NAME IS NULL THEN
	            INSERT INTO CAFE_MENU(CAFE_NO, MENU_NAME, CAFE_PRICE)
	            VALUES(?, CHANGE_NAME , ?);
	        ELSE
	            UPDATE CAFE_MENU
	            SET MENU_NAME = CHANGE_NAME, CAFE_PRICE = ?
	            WHERE MENU_NAME = FOOD_NAME;
	        END IF;    
	    END IF;
	END;
</entry>
</properties>