<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="findCafeAddress">
		SELECT CAFE_NAME
		FROM CAFE_INFO
		WHERE ADDRESS = ?
		AND STATUS = 'Y'
	</entry>
	<entry key="insertCafeRequest">
		INSERT INTO CAFE_REQUEST (REQUEST_NO, REQUEST_WRITER,CAFE_NAME,OPERATION_TIME,ADDRESS,CONTENT)
		VALUES(SEQ_CRNO.NEXTVAL,?,?,?,?,?)
	</entry>
	<entry key="insertCafeAttachment">
		INSERT INTO CAFE_REQUEST_ATTACHMENT (FILE_NO,REQUEST_NO,ORIGIN_NAME,CHANGE_NAME,FILE_PATH)
		VALUES(SEQ_CRANO.NEXTVAL,SEQ_CRNO.CURRVAL,?,?,?)
	</entry>
</properties>